.jfx-password-field, .password-field {
  -fx-font-size: $fontSizeh6;
  -fx-font-family: $fontFamily;
  -fx-text-fill: white;

  -jfx-focus-color: $corJFX-Focus;
  -jfx-unfocus-color: $corJFX-Unforcus;
  -jfx-label-float: true;

  .fxml-login & {
    -fx-padding: 0 5;
  }

}