.jfx-tab-pane, .tab-pane {
  .tab-header-area .tab-header-background {
    -fx-opacity: 0;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
  }

  -fx-tab-min-width: 100px;

}

.tab {
  -fx-background-insets: 0 1 0 1, 0, 0;
  -fx-background-color: linear-gradient(to top, derive($corPricipal, 50%), derive($corPricipal, 5%));
  -fx-border-radius: 6 6 0 0;
  -fx-background-radius: 6 6 0 0;

  .tab-label {
    -fx-tile-alignment: left;
    -fx-text-fill: #fff;
  }

  &:selected {
    -fx-background-color: $corPricipal;

    .tab-label {
      -fx-font-size: 14px;
      -fx-font-weight: bold;
      -fx-text-fill: yellow;
    }
  }
}

//}